.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #333; /* Altere para um cinza escuro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Mantenha o texto em branco para melhor contraste */
}

.status-container {
  background-color: #222; /* Altere para um cinza mais escuro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: center bottom;
}

/* Adicione uma animação personalizada */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.status-container {
  animation: slideIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Mais estilos conforme necessário */

.service-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  font-size: 18px;
  color: #ccc; /* Cor de texto para a lista de serviços */
}

.service-list li {
  margin-bottom: 8px;
}